<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.wat.wel.projekt.pumo.electronicband">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.TheoryActivity"
            android:label="Teoria" />
        <activity
            android:name=".Activities.CalculatorsActivity"
            android:label="@string/kalk" />
        <activity
            android:name=".Calcs.SimpleCalc.Prosty_Kalkulator"
            android:label="@string/prosty" />
        <activity android:name=".Activities.AboutUsActivity" />
        <activity android:name=".Calcs.SimpleCalc.More_Activity_moreee" />
        <activity
            android:name=".SchematEditor.SchematicsEditor"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </activity>
        <activity
            android:name=".SchematEditor.Switching_Elements"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SchematEditor.DesignMenu"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SchematEditor.Saving_netlist"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Calcs.LogicCalcs.LogicCalcsAND" />
        <activity android:name=".Calcs.LogicCalcs.LogicCalcsXOR" />
        <activity android:name=".Calcs.LogicCalcs.LogicCalcsNOT" />
        <activity android:name=".Calcs.LogicCalcs.LogicCalcsOR" />
        <activity android:name=".Calcs.LogicCalcs.LogicCalcsNOR" />
        <activity android:name=".Calcs.LogicCalcs.LogicCalcsNAND" />
        <activity android:name=".Calcs.SimpleCalc.Potega" />
        <activity android:name=".ResistorCalcs"></activity>
        <activity android:name=".Courses.CoursesActivity"></activity>
    </application>

</manifest>